.settings
.svn
local.properties
proguard.cfg
proguard-project.txt
bin/
gen/
libs/
obj/
patches/
target/
src/test/resources/META-INF/config.properties

*.Plo
*.dylib
*.la
*.a
*.lo
.libs/
.deps/
autom4te.cache/
Makefile.in
Makefile
config.status
*.m4
config_auto.h
configure
libtool
tesseract.pc
stamp-h1
build/
.gradle/
.idea/
*.iml
javadoc/
tessdata/
