# Turn off adaption, since it introduces high CPU overhead and a small error rate increase.
tessedit_tess_adaption_mode	0x00
# The following parameters were not included in the checked-in traineddata file,
# so the flags below were probably used during experimentation.
#classify_cp_cutoff_strength 2
#disable_character_fragments F
#prioritize_division T
