# Use Tesseract/Cube combiner
# (see OcrEngineMode enum in third_party/tesseract/ccstruct/publictypes.h).
tessedit_ocr_engine_mode	2

# Hindi configuration variables

# Preprocess images to split shiro rekha
pageseg_devanagari_split_strategy 1
segment_nonalphabetic_script 1

# Avoid over-estimating intra-word spacing at both row and
# block levels when using old to method
tosp_old_to_method T
tosp_old_to_constrain_sp_kn T
tosp_old_sp_kn_th_factor 4.0

tosp_only_small_gaps_for_kern T
tosp_use_pre_chopping T

# Add a penalty for non-alphanumerics that are vertically badly positioned.
classify_misfit_junk_penalty 0.125

merge_fragments_in_matrix F

# Avoid false positive 1 in place of the Hindi | character
tessedit_char_blacklist 1
