tessedit_load_sublangs	eng
tessedit_use_primary_params_model	1
segsearch_max_futile_classifications	10

pageseg_devanagari_split_strategy 1
ocr_devanagari_split_strategy 1
segment_nonalphabetic_script 1

tosp_old_to_method T
tosp_old_to_constrain_sp_kn T
tosp_old_sp_kn_th_factor 4.0

tosp_only_small_gaps_for_kern T
tosp_use_pre_chopping T

classify_misfit_junk_penalty 0.125
