segment_penalty_dict_case_ok    1.1
segment_penalty_dict_case_bad   1.15
segment_penalty_dict_nonword    1.25
segment_penalty_garbage         1.4
language_model_penalty_chartype	0.04
language_model_penalty_punc	0.04
language_model_penalty_case	0.04
tessedit_char_whitelist         abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789:/@.-

#user_patterns_suffix		user-patterns
tessedit_fix_fuzzy_spaces         T
tessedit_prefer_joined_punct      T
