# New Segmentation search params
segsearch_max_char_wh_ratio         1.3

# Adopted from chi_sim.config.
edges_use_new_outline_complexity    T
edges_children_fix                  T
edges_max_children_per_outline     10
edges_max_children_layers           5
edges_children_count_limit       1000
tosp_force_wordbreak_on_punct       F
textord_force_make_prop_words       T
textord_noise_sizelimit             0.2
textord_noise_normratio             6
textord_max_noise_size              7

# Force use of a single x-height mode when the text is written horizontally.
# This information could come from the unicharset (script_has_xheight), but
# it is better in the config file so as to be available when training.
textord_single_height_mode        T

# Use character height as x-height, and estimate it from character pitch and
# kerning width.
textord_use_cjk_fp_model T
textord_space_size_is_variable T
segment_nonalphabetic_script      1
assume_fixed_pitch_char_segment     T
